<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216364829143-i8v837s5btq8hbu16opdma75ljfdsmvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216364829143-i8v837s5btq8hbu16opdma75ljfdsmvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ8Hgl6e1xzK7DJeA2B8i47IyLt7ZrmZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>216364829143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Saqib.Landmark-Remark</string>
	<key>PROJECT_ID</key>
	<string>landmark-remark-b2502</string>
	<key>STORAGE_BUCKET</key>
	<string>landmark-remark-b2502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216364829143:ios:368f5ff739e1f9ae7d6392</string>
</dict>
</plist>